*{
  margin: 0;
}

.app__header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.MuiButtonBase-root, .MuiListItem-root, .MuiMenuItem-root, .MuiMenuItem-gutters, .MuiListItem-gutters, .MuiListItem-button{
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.flag{
  width: 20px;
  height: 20px;
}