*{
  margin: 0;
}
body{
  background-color: #ffffffbe !important;
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.MuiButtonBase-root, .MuiListItem-root, .MuiMenuItem-root, .MuiMenuItem-gutters, .MuiListItem-gutters, .MuiListItem-button{
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.flag{
  width: 20px;
  height: 20px;
}

/*contenido de cajas casos*/
.app__left{
  flex: 0.9;
}
.app__stats{
  display: flex;
  justify-content: space-between;
}


/*media*/
@media (max-width:990px){
  .app{
    flex-direction: column;
  }
}