*{
  margin: 0;
}
body{
  background-color: #ffffffbe !important;
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
/*titulo api*/
.app__header > h1{
  color: black;
  font-size: 2rem;
}
/*barra de paises*/
.app_dropdown{
  background-color: white;
  width: auto;
}
.MuiButtonBase-root, .MuiListItem-root, .MuiMenuItem-root, .MuiMenuItem-gutters, .MuiListItem-gutters, .MuiListItem-button{
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.flag{
  width: 20px;
  height: 20px;
}

/*contenido de cajas casos*/
.app__left{
  flex: 0.9;
}
.app__stats{
  display: flex;
  justify-content: space-between;
}


/*contenido de slider*/
.app__right{
  display: flex;
  flex-direction: column;
}
.app__right .MuiCardContent-root{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
/*grafica*/
.app__graph{
  flex-grow: 1;
}
.app_graphTitle{
  margin:20px 0px 20px 0px;
}

/*media*/
@media (max-width:990px){
  .app{
    flex-direction: column;
  }
}