.table{
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: scroll;
    height: 400px;
    background: rgb(228, 228, 228);
    text-align: center;
}

.table td{
    padding: 0.5rem;
}

.table tr:nth-of-type(odd){
    background-color: #f3f2f8;
} 